{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>智能会议室</title>
  <link rel="stylesheet" href="{% static 'conference_room/comment.css'%}">
  <link rel="stylesheet" href="{% static 'conference_room/login.css'%}">
</head>
<body>
  <!-- 标题 -->
  <div class="wrapper">
    <div class="title">
      <h1>智能会议室系统</h1>
    </div>
  </div>

  <!-- 图片背景 -->
  <div class="prompt">
    <div class="logo_title">
      <span>管理人登录</span>
    </div>
  </div>

  <!-- 登录 -->
  <div class="bt">
    <div class="content">
      <!-- 提示信息 -->
      <div class="znhyszh">
        请使用管理人账号登录
      </div>
      <!-- 表单 -->
      <div class="cr_top">
       <form method="post" action="http://101.43.156.219/conference_room/manager_login/">
          <!-- 账号 -->
	   {% csrf_token %}
          <div class="ct_input">
          <input type="text" name="manageraccount" placeholder="账号" class="input_text">
          </div>

          <!-- 密码 -->
          <div class="ct_input">
          <input type="password" name="managerpwd" placeholder="密码" class="input_text">
          </div>

          <!-- 按钮 -->
          <div class="ct_input">
          <button type="submit">登录</button>
          </div>
        </form>

        <div class="handle">
          <a class="mima" href="#">找回密码</a>
          <a class="zhuce" href="#">注册</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
